.ant-drawer-body{
  padding: 0 !important;
}
.ant-layout-sider{
  transition: all 0.3s ease !important;
}
.ant-menu{
  color: #fff;
}
li:hover{
  color: #fff;
}
/* a:hover{
  color: #fff !important; 
}
span:hover{
  color: #fff !important; 
} */
/* .ant-layout-content{
  
  margin: 0 !important;
} */
/* .ant-layout-header{
  width: calc(100% - 100px) !important;
} */
/* .ant-layout{
  background: #262a36;
}
.ant-layout-header{
  background: #191c24 !important;
  color: white;
  border: none !important;
}
.ant-layout-sider{
  background: #191c24 !important;
  border: none !important;
}
.ant-menu{
  background: #191c24 !important;
  color: #6c7293;
} */