@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif !important;
}
h1, h2,h3, h4{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
}
li{
  margin: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
/* Modificación de Scroll */
::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
  background: rgb(214, 214, 214);

}

::-webkit-scrollbar-thumb {
  background: #4D44B5;
  border-radius: 50px;
}
.ant-dropdown{
  inset: 64.8px 20px auto auto !important;
}